@import "./styles/typography.scss";
@import "./styles/variables.scss";
@import "./styles/media.scss";

@font-face {
  font-family: "NovemberPro";
  src: url("../../../assets/fonts/november-pro/NovemberPro-Reg.eot");
  src: url("../../../assets/fonts/november-pro/NovemberPro.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/fonts/november-pro/NovemberPro.svg#NovemberPro") format("svg"),
    url("../../../assets/fonts/november-pro/NovemberPro.ttf") format("truetype"),
    url("../../../assets/fonts/november-pro/NovemberPro.woff") format("woff"),
    url("../../../assets/fonts/november-pro/NovemberPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NovemberPro-Reg";
  src: url("../../../assets/fonts/november-pro/NovemberPro-Reg.eot");
  src: url("../../../assets/fonts/november-pro/NovemberPro-Reg.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/fonts/november-pro/NovemberPro-Reg.svg#NovemberPro-Reg") format("svg"),
    url("../../../assets/fonts/november-pro/NovemberPro-Reg.ttf") format("truetype"),
    url("../../../assets/fonts/november-pro/NovemberPro-Reg.woff") format("woff"),
    url("../../../assets/fonts/november-pro/NovemberPro-Reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// header css starts here
button,
p {
  font-family: "NovemberPro-Reg" !important;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "NovemberPro";
}

.header-container {
  font-family: "NovemberPro";

  &.fixed-top {
    height: 80px;

    .navbar {
      margin: 0px 0;
    }
  }

  .header-inner-container {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .mh-auto {
    margin: 0 auto 0 auto;
  }

  .contact-btn {
    @extend .btnbase;
  }

  .contact-btn:hover {
    @extend .btnhover;
  }

  .nav-item.active {
    a {
      color: $primaryColor !important;
      background: $color__fill-white;
      border-radius: 4px;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .nav-item {
    .nav-link {
      color: $color__fill-white !important;
      font-size: 16px;
      font-family: "NovemberPro-Reg";
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-menu {
    min-width: 215px;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -7px;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .multi-level {
    padding: 10px 23px 10px 18px;
    font-size: 14px;
    border-radius: 18px;
  }

  .dropdown-submenu {
    padding: 6px 0;

    .dropdown-toggle {
      text-decoration: none;
      color: $color__fill-black;
    }
  }

  .pre-menu-icon {
    margin-right: 10px;
    width: 0.3rem;
  }

  .pre-menu-icon:hover {
    fill: $primaryColor;
  }

  .single-level {
    font-size: 14px;
    padding: 10px 23px 10px 18px;
    border-radius: 18px;

    li {
      padding: 6px 0;

      a {
        text-decoration: none;
        color: $color__fill-black;

        span {
          transition: transform 0.2s ease-out;
        }
      }

      a:hover {
        color: $primaryColor;
      }
    }
  }

  .nav-sub-item {
    a {
      text-decoration: none;
    }
  }

  .dropdown-toggle {
    color: $color__fill-black;
  }

  .dropdown-toggle:hover {
    color: $primaryColor;
  }

  // mega menu css starts here
  .mega-dropdown {
    position: relative !important;
  }

  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .mega-dropdown-menu {
    position: absolute;
    top: 87%;
    left: 0;
    z-index: 1000;
    float: left;
    width: max-content;
    max-width: 500px;
    min-width: 160px;
    padding: 2px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $color__fill-black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #00000026;
    border-radius: 4px;
    box-shadow: 0 6px 12px #0000002e;
    background: $color__fill-white;
  }

  .mega-menu-heading {
    font-weight: bold;
    margin-left: 30px;
  }

  ul {
    list-style: none;
    padding: 0 6px;

    li {
      padding: 12px 10px;
      font-size: 14px;
      font-family: "NovemberPro-Reg";
      font-weight: 500;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: $color__fill-black;
    }

    a:hover {
      color: $primaryColor;
    }
  }

  .navbar {
    margin: 14px 0;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky+.content {
    padding-top: 60px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 3% !important;
}

.fixed-top {
  height: 125px !important;
  position: fixed;
  top: 0;
  right: 0;
  background: $color__fill-white;
  left: 0;
  z-index: 1030;
  box-shadow: 0px 9px 95px 13px #6e7b831a;
}

.fixed-top .nav-link {
  color: $primaryColor !important;
}

.home-logo-black {
  display: none;
}

.fixed-top .home-logo-black {
  display: block;
}

.fixed-top .home-logo {
  display: none;
}

.fixed-top .navbar-dark .navbar-nav .nav-link {
  color: $color__fill-black !important;
  padding: 6px 14px !important;
}

.fixed-top .navbar-dark .navbar-nav .active .nav-link {
  color: $color__fill-white !important;
  background: $primaryColor;
}

// header css ends here

.hire-developer_banner-section {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  position: relative;
  height: 140px;
  display: flex;
  align-items: center;

  h1 {
    @extend .H1heading;
  }

  p {
    @extend .ptxtMediumWhite;
  }

  .banner-bg-overlay {
    background-color: $primaryColor;
    // opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .banner-inner-container {
    position: relative;
  }
}

.hire-developer_intro {
  padding: 70px 0 80px 0;
  background-color: $primaryColor;

  .hire-developer_intro-inner {
    background: url("../../assets/img/home-bg-10-1.png") no-repeat;
    background-position: bottom right;

    h1 {
      @extend .mainHeading;
      color: $color__fill-white;
    }

    .sub-column {
      color: $secondryColor;
    }

    p {
      @extend .txtDescription;
      padding: 15px 0 0px 0;
      color: $color__fill-white;
    }

    h4 {
      color: $color__fill-white;
    }

    .align-vt_center {
      align-items: center;
    }

    button {
      @extend .btnbase;
      background-color: $color__fill-white;
      color: $primaryColor;
    }

    img {
      padding: 0 0px;
    }

    ul {
      @extend .bannerList;
      @extend .txtDescription;

      i {
        color: $secondryColor;
        margin: 0 8px 0 0;
      }

      li {
        padding: 0 0 4px 0;
        margin-bottom: 12px;
      }
    }

    form {
      background-color: #41415a;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      // box-shadow: 0px 2px 10px #e3dede;
      // border: 1px solid #ebe5e5;
      width: 80%;
      margin: auto;

      .mb {
        margin-bottom: 2.5rem;
      }

      label {
        @extend .miniDescription;
        padding: 0;
        position: absolute;
        top: -7px;
        background-color: #41415a;
        left: 26px;
        font-size: 12px;
        color: $color__fill-white;
      }

      input {
        background-color: transparent;
        color: $color__fill-white;
      }

      button {
        background-color: $color__fill-white;
        color: $primaryColor;
      }
    }
  }
}

.hire-developer_concept {
  padding: 70px 0 80px 0;
  background-image: url('assets/img/bg-shape1-home5.png');
  background-repeat: no-repeat;
  background-position: right;

  .hire-developer_concept-inner {
    .bg-shape {
      background-image: url('assets/img/home-bg-09.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .m-b-23 {
      margin-bottom: -23%;
    }

    img {
      width: 100%;
      border-top-left-radius: 100px;
      padding: 0;
      position: relative;
      animation: mover 1s infinite alternate;
      animation-duration: 2s;
      // animation: 20s rotating-image infinite;
      // animation-fill-mode: both;
      // animation-timing-function: ease-in-out;
      // animation-direction: alternate-reverse;
    }

    @keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }

    .shape {
      &::after {
        content: "";
        background: linear-gradient(135deg, #f72749, #f78320);
        height: 100px;
        width: 50%;
        position: absolute;
        left: -26px;
        z-index: -1;
        top: -30px;
      }
    }

    @keyframes rotating-image {
      0% {
        transform: rotate(-3deg);
      }

      100% {
        transform: rotate(3deg);
      }
    }

    h1 {
      @extend .mainHeading;
    }

    .sub-column {
      color: $secondryColor;
    }

    p {
      @extend .txtDescription;
      padding: 15px 0 0px 0;
    }

    .align-vt_center {
      align-items: center;
    }

    button {
      @extend .btnbase;
    }

    button:hover {
      @extend .btnhover;
    }

    ul {
      @extend .bannerList;
      @extend .txtDescription;

      .fa {
        color: $secondryColor;
        margin: 0 8px 0 0;
      }

      li {
        padding: 0 0 4px 0;
        margin-bottom: 12px;
      }
    }
  }
}

.hire-development-responsibility {
  padding: 94px 0 60px 0;
  background-color: $primaryColor;
  background-size: 100% 100%;

  .heading-title {
    margin-bottom: 20px;

    h4 {
      @extend .subHeading;
    }
  }

  h3 {
    font-weight: bold;
    opacity: 0.1;
  }

  .heading-sub-title {
    padding: 0px 0px 10px 0px;

    h2 {
      @extend .mainHeading;
      color: $color__fill-white;
    }
  }

  .description {
    @extend .txtDescription;
    color: $color__fill-white;
  }

  .ror-development-solution_name {
    @extend .txtDescription;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 0;
  }

  .sub-column {
    color: $secondryColor;
  }

  .box {
    border: 1px solid $color__fill-box;
    border-radius: 0px;
    padding: 30px 16px 0px 16px;
    height: 100%;
    background-color: #fff;

    h5 {
      @extend .boxminiHeading;
    }
  }

  .box:hover {
    box-shadow: 8px 8px 30px 0px $primary__box-shadow;
  }
}

.hire-developer_services {
  padding: 100px 0 80px 0;
  background-image: url('../../assets/img/home-bg-08.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;

  .hire-developer_services-inner {
    .sub-column {
      color: $secondryColor;
    }

    p {
      @extend .txtDescription;
      padding-bottom: 10px;
      margin: 0;
    }

    h1 {
      @extend .mainHeading;
    }

    .service-offered_container {
      background-repeat-y: no-repeat;
      background-position: bottom;
      background-color: #f4f6f7;

      .tab-content {
        padding: 0 2rem;
      }

      p {
        @extend .txtDescription;
      }
    }

    .nav-pills {
      .nav-link {
        border-radius: 0px;

        &.active {
          background-color: transparent;
          border-left: 4px solid $secondryColor;
        }
      }

      p {
        padding: 0;
      }
    }

    .box {
      border: 1px solid #ebebeb;
      border-radius: 15px;
      padding: 30px 16px 20px 16px;
      height: 100%;
    }

    .price-tag {
      background-color: #eb0101;
      color: #fff;
      padding: 8px 12px;
      border-radius: 22px;
    }
  }
}

.hire-developer_models {
  padding: 80px 0 80px 0;

  .hire-developer_models-inner {
    .sub-column {
      color: $secondryColor;
    }

    p {
      @extend .txtDescription;
      padding-bottom: 10px;
      margin: 0;
    }

    h2 {
      @extend .mainHeading;
    }

    .box1 {
      background-color: #dafdf2;
    }

    .box2 {
      background-color: #dbdafd;
    }

    .box3 {
      background-color: #fddaf4;
    }

    .box4 {
      background-color: #fdf1da;
    }

    .box5 {
      background-color: #daf8fd;
    }

    .box {
      border: 1px solid #ebebeb;
      border-radius: 15px;
      padding: 30px 16px 20px 16px;
      height: 100%;
    }

    .price-tag {
      background-color: #eb0101;
      color: #fff;
      padding: 8px 12px;
      border-radius: 22px;
    }
  }
}

.hire-developer_hire-cost {
  padding: 80px 0 100px 0;

  .hire-developer_hire-cost-inner {
    .sub-column {
      color: $secondryColor;
    }

    p {
      @extend .txtDescription;
      padding-bottom: 10px;
      margin: 0;
    }

    h2 {
      @extend .mainHeading;
    }

    .box {
      border: 1px solid #ebebeb;
      border-radius: 15px;
      padding: 30px 16px 20px 16px;
      height: 100%;
    }

    .price-tag {
      color: #fff;
      padding: 8px 12px;
      border-radius: 22px;
      background-color: $secondryColor;
    }
  }
}

.hire-developer_greybox {
  padding: 0 0 80px 0;
  .hire-developer_greybox-inner {
    .sub-column {
      color: $secondryColor;
    }

    p {
      @extend .txtDescription;
      padding-bottom: 10px;
      margin: 0;
    }

    h1 {
      @extend .mainHeading;
    }

    h4 {
      @extend .boxminiHeading;
    }

    .box {
      text-align: center;
      padding: 60px 40px 25px 40px;
      height: 100%;
      &:hover {
        background-color: $primaryColor;
        h5 {
          color: $color__fill-white;
        }
        p {
          color: $color__fill-white;
        }
      }
    }
    .box-fill {
      background-color: #f3f3f3;
      .secondary-line {
        height: 5px;
        background-color: #ec0000;
        width: 22%;
        border-radius: 43px;
        margin: 18px auto 10px auto;
      }
    }
  }
}

.hire-developer__hoverbox {
  padding: 60px 0 40px 0;

  .hire-developer__hoverbox-inner {
    .sub-column {
      color: $secondryColor;
    }

    ul {
      @extend .txtDescription;

      li {
        position: relative;
        padding-left: 2rem;
        margin-bottom: 1.5rem;
        width: 50%;

        i {
          position: absolute;
          left: 0;
          top: 5px;
          color: #ec0000;
        }
      }
    }

    p {
      @extend .txtDescription;
      padding-bottom: 10px;
      margin: 0;
    }

    h1 {
      @extend .mainHeading;
    }

    h4 {
      @extend .boxminiHeading;
    }

    .box {
      border: 1px solid #ebebeb;
      border-radius: 15px;
      padding: 30px 16px 20px 16px;
      height: 100%;
      position: relative;
      text-align: center;
      &::before {
          content: '';
          position: absolute;
          top: 20px;
          // left: 35px;
          z-index: -1;
          transform: translateX(-50%);
          width: 108px;
          height: 70px;
          background-image: url('https://kofejob.dreamguystech.com/template/assets/img/icon/icon-bg.png');
        }
      svg {
        fill: $secondryColor;
      }
    }

    .price-tag {
      background-color: #eb0101;
      color: #fff;
      padding: 8px 12px;
      border-radius: 22px;
    }

    .icon {
      padding: 12px;
      // background-color: #efeffd80;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
    }
  }
}


.hire-technology_developer {
  padding: 60px 0 40px 0;

  .hire-technology_developer-inner {
    .sub-column {
      color: $secondryColor;
    }

    button {
      background-color: $primaryColor;
      color: $color__fill-white;
      border: none;
      padding: 8px 20px;
    }

    ul {
      @extend .txtDescription;

      li {
        position: relative;
        padding-left: 2rem;
        margin-bottom: 1.5rem;
        width: 50%;

        i {
          position: absolute;
          left: 0;
          top: 5px;
          color: #ec0000;
        }
      }
    }

    p {
      @extend .txtDescription;
      padding-bottom: 10px;
      margin: 0;
    }

    h1 {
      @extend .mainHeading;
    }

    h4 {
      @extend .boxminiHeading;
    }

    .box {
      border: 1px solid #ebebeb;
      border-radius: 15px;
      padding: 30px 16px 20px 16px;
      height: 100%;
    }

    .price-tag {
      background-color: #eb0101;
      color: #fff;
      padding: 8px 12px;
      border-radius: 22px;
    }

    .icon {
      padding: 12px;
      background-color: #efeffd80;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
    }
    .idea-img {
      animation: move-bottom 2s infinite alternate;
    }
    @keyframes move-bottom {
      0% {
        transform: translateY(20px);
        opacity: 0.5;
      }
      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }
}

.technology-developer_faq {
  padding: 20px 0 80px 0;

  .technology-developer_faq-inner {
    h1 {
      @extend .mainHeading;
    }

    p {
      padding-bottom: 10px;
      margin: 0;
    }

    ul {
      @extend .miniDescription;
      list-style: none;

      li {
        position: relative;
        padding-left: 2rem;
        margin-bottom: 1.5rem;

        .fa {
          position: absolute;
          left: 0;
          top: 5px;
          color: #ec0000;
        }
      }
    }

    .collapse-section {
      border-bottom: 1px solid;
      border-color: orange;
      padding-bottom: 16px;

      &:last-child {
        border-bottom: none;
      }

      .card-body {
        @extend .miniDescription;
      }

      a {
        display: flex;
        align-items: center;
        margin: 0;
        @extend .boxsubHeading;
      }

      a[aria-expanded="false"] {
        &::before {
          content: '+';
          @extend .boxsubHeading;
          color: #ed0e0e;
          margin-right: 12px;
        }
      }

      a[aria-expanded="true"] {
        &::before {
          content: '-';
          @extend .boxsubHeading;
          color: #ed0e0e;
          margin-right: 12px;
        }
      }
    }
  }
}

.digital-transformation_industries {
  padding: 80px 0 20px 0;
  h2 {
    @extend .mainHeading;
  }
  .sub-column {
    color: $secondryColor;
  }

  .step {
    border: 8px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(19, 16, 34, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(19, 16, 34, 0.03);
    @extend .boxsubHeading;
  }

  h4 {
    @extend .boxsubHeading;
  }

  button {
    @extend .btnbase;
  }
}

.industries {
  padding: 94px 0 60px 0;
  background-color: $primaryColor;
  margin-bottom: 100px;
  background-size: 100% 100%;

  .sub-column {
    color: $secondryColor;
  }

  .heading-title {
    margin-bottom: 20px;

    h4 {
      @extend .subHeading;
    }
  }

  h3 {
    font-weight: bold;
    opacity: 0.1;
  }

  .heading-sub-title {
    padding: 0px 0px 10px 0px;

    h2 {
      @extend .mainHeading;
      color: $color__fill-white;
    }
  }

  .description {
    @extend .txtDescription;
    color: $color__fill-white;
  }

  .industries__name-section {
    justify-content: center;
  }

  .industries_name {
    @extend .txtDescription;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 0;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    list-style: none;

    li {
      flex: 1;
    }

    .list-box {
      background: $color__fill-white;
      margin: 5px 10px;
      padding: 23px 22px 9px 22px;
      height: 100%;

      // img {
      //   width: 3.5rem;
      // }
    }

  }
}

.leadership {
  .box {
    background-repeat: no-repeat;
    background-position: top right;
    transition: 0.3s ease-in;
    &:hover {
      transform: translate(0px, -10px);
      cursor: pointer;
    }
  }
  .box:hover .leadership-linkedin {
    display: block;
  }
  .leadership-img {
    height: 135px;
    width: 135px;
    filter: brightness(0.9);
    border-radius: 50%;
    border: 1px solid $secondryColor;
    padding: 3px;
    margin-bottom: 20px;
  }
  .leadership-linkedin {
    background: #f3f3f3;
    padding: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
  }
}

.process {
  .process-inner {
    .sub-column {
        color: $secondryColor;
    }
    .process-development {
        position: relative;
        margin: auto;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          padding-bottom: 20px;
          position: relative;
          @media screen and (max-width: 820px) {
            padding-bottom: 50px;
          }
        }
        li:first-child::before {
          width: 0;
        }
        li:last-child::after {
          width: 0;
        }
        li::before {
            content: "";
            position: absolute;
            height: 50%;
            width: 2px;
            left: 50%;
            transform: translateX(-50%);
            background: #e6e6e6;
            top: 0;
          }
        li::after {
            content: "";
            position: absolute;
            height: 50%;
            width: 2px;
            left: 50%;
            transform: translateX(-50%);
            background: #e6e6e6;
            bottom: 0;
        }
        li:nth-child(even) {
              flex-direction: row-reverse;
              figure {
                left: -33px;
                @media screen and (max-width: 820px) {
                  left: 0;
                }
              }
          }
        .process-right {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 0 0 80px;
            position: relative;
            @media screen and (max-width: 820px) {
              flex: 0 0 100%;
              max-width: 100%;
              padding: 0;
              z-index: 1;
            }
        }
        .process-left {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 80px 0 0;
            position: relative;
            @media screen and (max-width: 820px) {
              flex: 0 0 100%;
              max-width: 100%;
              padding: 0;
              z-index: 1;
            }
        }
        figure {
            position: absolute;
            top: 50%;
            right: -33px;
            width: 65px;
            height: 65px;
            transform: translateY(-50%);
            border-radius: 50%;
            background: linear-gradient(135deg, #f72749, #f78320);
            z-index: 11;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 7px solid #fff;
            box-shadow: 0 3px 6px #00000029;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            @media screen and (max-width: 820px) {
              top: -35px;
              right: 0;
              left: 0;
              width: 40px;
              height: 40px;
              transform: translateY(40%);
              border: 3px solid #fff;
              font-size: 15px;
              margin: auto;
            }
        }
        figcaption {
            width: 100%;
            padding: 30px;
            background: #fff;
            margin-left: auto;
            box-shadow: 0 7px 30px #ececf6;
            border-radius: 10px;
        }
    }
  }
}

.mvp-solutions {
  img {
    background-color: #dbdbfa;
    border-radius: 5px;
  }
}