@font-face {
  font-family: "NovemberPro";
  src: url("../assets/fonts/november-pro/NovemberPro.eot");
  src: url("../assets/fonts/november-pro/NovemberPro.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/november-pro/NovemberPro.svg#NovemberPro") format("svg"), url("../assets/fonts/november-pro/NovemberPro.ttf") format("truetype"), url("../assets/fonts/november-pro/NovemberPro.woff") format("woff"), url("../assets/fonts/november-pro/NovemberPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NovemberPro-Reg";
  src: url("../assets/fonts/november-pro/NovemberPro-Reg.eot");
  src: url("../assets/fonts/november-pro/NovemberPro-Reg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/november-pro/NovemberPro-Reg.svg#NovemberPro-Reg") format("svg"), url("../assets/fonts/november-pro/NovemberPro-Reg.ttf") format("truetype"), url("../assets/fonts/november-pro/NovemberPro-Reg.woff") format("woff"), url("../assets/fonts/november-pro/NovemberPro-Reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("../assets/fonts/circular-std/Graphik-Regular.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url("../assets/fonts/circular-std/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

button, p {
  font-family: "NovemberPro-Reg" !important;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "NovemberPro";
}

body {
  font-family: "NovemberPro" !important;
}

.H1DesktopGreen {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #008067;
}

.H1DesktopBlack {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #000000;
}

.H1DesktopWhite {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #f6f6f6;
}

.H2Desktop {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
}

.H2DesktopGreen {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #008067;
}

.H2DesktopWhite {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #ffffff;
}

.H3Desktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
}

.H3BlackDesktop {
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
}

.sliderHeading {
  font-family: "NovemberPro";
  font-size: 40px;
}

@media (max-width: 1400px) {
  .sliderHeading {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .sliderHeading {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .sliderHeading {
    font-size: 15px;
  }
}

.slidersubHeading {
  font-family: "NovemberPro";
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;
}

@media (max-width: 1400px) {
  .slidersubHeading {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .slidersubHeading {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .slidersubHeading {
    font-size: 20px;
  }
}

.sliderDescription {
  font-family: Graphik;
  font-size: 22px;
  margin: 30px 0 0 0;
  font-weight: normal;
}

@media (max-width: 1400px) {
  .sliderDescription {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .sliderDescription {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .sliderDescription {
    font-size: 10px;
  }
}

.menuList, .header-container .web-navigation li .nav-link {
  font-size: 16px;
}

@media (max-width: 1400px) {
  .menuList, .header-container .web-navigation li .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .menuList, .header-container .web-navigation li .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .menuList, .header-container .web-navigation li .nav-link {
    font-size: 10px;
  }
}

.largeHeading {
  font-family: "NovemberPro";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

@media (max-width: 1400px) {
  .largeHeading {
    font-size: 2.3rem;
  }
}

@media (max-width: 992px) {
  .largeHeading {
    font-size: 2.3rem;
  }
}

@media (max-width: 576px) {
  .largeHeading {
    font-size: 2rem;
  }
}

.mainHeading {
  font-family: "NovemberPro";
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

@media (max-width: 1400px) {
  .mainHeading {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .mainHeading {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .mainHeading {
    font-size: 12px;
  }
}

.subHeading {
  font-family: "NovemberPro";
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  color: #000000;
}

@media (max-width: 1400px) {
  .subHeading {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .subHeading {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .subHeading {
    font-size: 10px;
  }
}

.boxsubHeading {
  font-size: 24px;
}

@media (max-width: 1400px) {
  .boxsubHeading {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .boxsubHeading {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .boxsubHeading {
    font-size: 10px;
  }
}

.boxminiHeading {
  font-size: 18px;
}

@media (max-width: 1400px) {
  .boxminiHeading {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .boxminiHeading {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .boxminiHeading {
    font-size: 8px;
  }
}

.txtDescription {
  font-family: "NovemberPro-Reg";
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  padding: 0px 0px 30px 0px;
}

@media (max-width: 1400px) {
  .txtDescription {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .txtDescription {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .txtDescription {
    font-size: 10px;
  }
}

.miniDescription {
  font-family: "NovemberPro-Reg";
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  padding: 0px 0px 30px 0px;
}

@media (max-width: 1400px) {
  .miniDescription {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .miniDescription {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .miniDescription {
    font-size: 10px;
  }
}

.boxHeading {
  font-weight: 500;
  line-height: 1.2;
  font-size: 23px;
  color: #000000;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 1400px) {
  .boxHeading {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .boxHeading {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .boxHeading {
    font-size: 10px;
  }
}

.miniHeading {
  font-family: "NovemberPro";
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1400px) {
  .miniHeading {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .miniHeading {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .miniHeading {
    font-size: 8px;
  }
}

.btnbase, .header-container .contact-btn {
  border: none;
  padding: 8px 18px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #000000;
}

.btnhover, .header-container .contact-btn:hover {
  background: #ffffff !important;
  color: #000000 !important;
  border: 1px solid !important;
}

.btnfocus {
  background: #ffffff !important;
  color: #000000 !important;
  border: 1px solid !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnactivefocus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.H1heading {
  font-size: 70px;
  color: #ffffff;
  font-weight: bold;
  padding: 0px 0px 15px 0px;
}

@media (max-width: 1400px) {
  .H1heading {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .H1heading {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .H1heading {
    font-size: 20px;
  }
}

.ptxtMediumBlack {
  font-size: 18px;
  letter-spacing: 0.22px;
}

@media (max-width: 1400px) {
  .ptxtMediumBlack {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .ptxtMediumBlack {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .ptxtMediumBlack {
    font-size: 10px;
  }
}

.ptxtMediumWhite {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.22px;
}

@media (max-width: 1400px) {
  .ptxtMediumWhite {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .ptxtMediumWhite {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .ptxtMediumWhite {
    font-size: 10px;
  }
}

.bannerList {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.H3WhiteDesktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #ffffff;
}

.H5DesktopGreen {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #008067;
}

.H5DesktopGrey {
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #748494;
}

.H5DesktopBlack {
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.H4DesktopWhite {
  font-family: Boxout02;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.H4DesktopBlack {
  font-family: Boxout02;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  color: #000000;
}

.H6Desktop {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.H6DesktopGrey {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #748494;
}

.H6DesktopBlack {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.H6DesktopGreen {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #008067;
}

.H6DesktopWhite {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyLargeWhite {
  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyDefault {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.BodyDefaultBold {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.BodyDefaultBoldGrey {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #748494;
}

.BodyDefaultBoldWhite {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyDefaultBoldBlack {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.BodyDefaultRegularGrey {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #748494;
}

.BodyDefaultRegularBlack {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.BodySmallMediumGrey {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #748494;
}

.BodySmallMediumWhite {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.BodySmallMediumBlack {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #000000;
}

.BodySmallMedium {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.CTA {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
}

.CTABlue {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #3035ff;
}

.CTAGrey {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #737373;
}

.CTAGreen {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #008067;
}

.CTABlack {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
}

.CTARed {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ff542d;
}

.CTAWhite {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.CTAYellow {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffcd00;
}

.BodySmallRegular {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.BodySmallRegularWhite {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.BodySmallRegularGrey {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #737373;
}

.BodySmallRegularGreen {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #008067;
}

.BodySmallRegularBlack {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #000000;
}

.LabelGrey {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #737373;
}

.LabelWhite {
  font-family: "NovemberPro-Reg";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.EyebrowBlack {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #000000;
  text-transform: uppercase;
}

.EyebrowWhite {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #ffffff;
  text-transform: uppercase;
}

.EyebrowGreen {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #008067;
  text-transform: uppercase;
}

.EyebrowGrey {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #737373;
  text-transform: uppercase;
}

.text-description {
  color: #333 !important;
  font-family: 'November-pro';
}

p {
  font-family: 'November-pro';
}

.nav-link::before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: 0;
  left: 42%;
  top: 94%;
  visibility: hidden;
  z-index: 1;
}

.nav-link:hover .nav-link::before {
  visibility: visible;
}

.dropdown {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.dropdown-menu-right {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header-container.fixed-top {
  height: 80px;
}

.header-container.fixed-top .navbar {
  margin: 14px 0;
}

.header-container .header-inner-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px -1px 38px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px -1px 38px;
}

.header-container .mh-auto {
  margin: 0 auto 0 auto;
}

.header-container .web-navigation li.active a {
  color: #000000;
  background: #ffffff;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

.header-container .web-navigation li .nav-link {
  color: rgba(61, 61, 61, 0.65);
  font-family: "NovemberPro-Reg";
  font-weight: 500;
  margin: 0;
}

.header-container .web-navigation li .nav-link:hover {
  color: #000000;
}

.header-container .web-navigation li .nav-link:focus {
  color: #000000;
}

.header-container .dropdown-submenu {
  position: relative;
}

.header-container .dropdown-menu {
  min-width: 215px;
}

.header-container .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -7px;
}

.header-container .dropdown:hover > .dropdown-menu {
  display: block;
}

.header-container .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.header-container .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.header-container .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.header-container .multi-level {
  padding: 10px 23px 10px 18px;
  font-size: 14px;
  border-radius: 18px;
}

.header-container .dropdown-submenu {
  padding: 6px 0;
}

.header-container .dropdown-submenu .dropdown-toggle {
  text-decoration: none;
  color: #000000;
}

.header-container .pre-menu-icon {
  margin-right: 10px;
  width: 0.3rem;
}

.header-container .pre-menu-icon:hover {
  fill: #000000;
}

.header-container .single-level {
  font-size: 14px;
  padding: 10px 23px 10px 18px;
  border-radius: 18px;
}

.header-container .single-level li {
  padding: 6px 0;
}

.header-container .single-level li a {
  text-decoration: none;
  color: #000000;
}

.header-container .single-level li a span {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.header-container .single-level li a:hover {
  color: #000000;
}

.header-container .nav-sub-item a {
  text-decoration: none;
}

.header-container .dropdown-toggle {
  color: #000000;
}

.header-container .dropdown-toggle::after {
  display: none !important;
}

.header-container .dropdown-toggle::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  visibility: hidden;
}

.header-container .nav-item:hover .dropdown-toggle::before {
  visibility: visible;
}

.header-container .dropdown-toggle:hover {
  color: #000000;
}

.header-container .mega-container a {
  color: #000000;
  font-size: 13px;
}

.header-container .mega-container a.active {
  background: #ffffff;
  border-left: 4px solid #000000;
}

.header-container .mega-container .fa-cloud {
  color: #11a7e2;
  background: #b1dbed;
  padding: 6px 5px;
  border-radius: 50%;
}

.header-container .mega-container .mega-blog-img__container {
  position: relative;
}

.header-container .mega-container .mega-blog-img__description {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  width: 100%;
  color: #ffffff;
  padding: 10px 12px;
}

.header-container .mega-sub-container a.active {
  border-left: none;
  color: #11a7e2 !important;
}

.header-container .mega-sub-container a {
  font-size: 14px !important;
  color: #000000 !important;
}

.header-container .mega-dropdown {
  position: unset !important;
}

.header-container .mega-dropdown .dropdown-toggle:hover .expand-icon svg {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  color: #000000;
}

.header-container .mega-dropdown .expand-icon {
  margin-left: 5px;
  width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.header-container .mega-dropdown .nav-link {
  color: #ffffff;
  position: relative;
}

.header-container .mega-dropdown ul .nav-item.active .nav-link {
  background: #000000;
  color: #ffffff !important;
  padding: 5px 10px;
  border-radius: 6px;
}

.header-container .mega-dropdown ul .nav-item.active .nav-link:hover {
  color: #000000;
}

.header-container .mega-dropdown ul .nav-item .nav-link {
  color: #000000;
  padding: 5px 10px;
}

.header-container .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.header-container .mega-dropdown-menu ul li a {
  color: #000000 !important;
  padding: 5px 10px;
  border-radius: 6px;
}

.header-container .mega-dropdown-menu {
  position: absolute;
  top: 75%;
  right: 0;
  z-index: 1000;
  float: left;
  width: 100%;
  padding: 2px 0;
  margin: 0 auto;
  font-size: 0.850rem;
  text-align: left;
  list-style: none;
  background-color: #000000;
  background-clip: padding-box;
  border: none;
  border-radius: 4px;
  background: #ffffff;
  z-index: 5;
}

.header-container .mega-dropdown-menu p {
  margin-bottom: 0.5rem;
}

.header-container .mega-dropdown-menu p img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-container .mega-menu-technology-footer {
  background: #1b0552;
  color: #ffffff;
  padding: 10px 0;
}

.header-container .mega-menu-technology-footer i {
  font-size: 40px;
}

.header-container .mega-menu-heading {
  font-weight: bold;
  margin-left: 30px;
}

.header-container ul {
  list-style: none;
  padding: 0 6px;
}

.header-container ul li {
  padding: 11px 10px 9px 3px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header-container ul a {
  text-decoration: none;
  color: #000000;
}

.header-container ul a:hover {
  color: #000000;
}

.header-container .navbar {
  margin: 0 auto 0 0;
}

.header-container .navbar .home-contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding: 10px 16px 10px 17px;
  background: #000000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.header-container .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container .sticky + .content {
  padding-top: 60px;
}

.header-container .home-mobile-toggle {
  background-color: #ffffff !important;
  border-radius: 50%;
  border: none;
  padding: 7px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .home-mobile-toggle-icon {
  color: #000000;
}

.offcanvas .mobile-menu-item {
  display: block;
  font-size: 12px !important;
  border-bottom: 1px solid #f1f2f2;
  padding: 0 0 6px 0;
}

.offcanvas .fa-chevron-down {
  display: none;
}

.offcanvas .fa-chevron-up {
  display: none;
}

.offcanvas .mobile-menu-item[aria-expanded="false"] .fa-chevron-down {
  display: block;
}

.offcanvas .mobile-menu-item[aria-expanded="true"] .fa-chevron-up {
  display: block;
}

.offcanvas .mobile-submenu-item {
  display: block;
  font-size: 12px !important;
  border-bottom: 1px solid #f1f2f2;
  padding: 0 0 6px 0;
}

.offcanvas .mobile-menu-item-active {
  color: #000000;
}

.offcanvas-start {
  width: 100% !important;
  border-right: none !important;
}

.fixed-top {
  top: 0;
  right: 0;
  background: #ffffff;
  left: 0;
  z-index: 1030;
  -webkit-box-shadow: 0px 9px 95px 13px #6e7b831a;
          box-shadow: 0px 9px 95px 13px #6e7b831a;
}

.fixed-top .header-inner-container {
  background-color: #ffffff;
}

.fixed-top .nav-link {
  color: #000000 !important;
}

.home-logo-black {
  display: none;
}

.fixed-top .home-logo-black {
  display: block;
}

.fixed-top .home-logo {
  display: none;
}

.fixed-top .navbar-dark .navbar-nav .nav-link {
  color: #000000 !important;
}

.fixed-top .navbar-dark .navbar-nav .active .nav-link {
  color: #ffffff !important;
  background: #000000;
}

.fixed-top .home-mobile-toggle {
  background-color: #000000 !important;
}

.fixed-top .home-mobile-toggle-icon {
  color: #ffffff !important;
}

.fixed-top .dropdown-toggle::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000000;
  visibility: hidden;
}
/*# sourceMappingURL=header.css.map */