@font-face {
  font-family: "NovemberPro";
  src: url("../assets/fonts/november-pro/NovemberPro.eot");
  src: url("../assets/fonts/november-pro/NovemberPro.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/november-pro/NovemberPro.svg#NovemberPro") format("svg"), url("../assets/fonts/november-pro/NovemberPro.ttf") format("truetype"), url("../assets/fonts/november-pro/NovemberPro.woff") format("woff"), url("../assets/fonts/november-pro/NovemberPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NovemberPro-Reg";
  src: url("../assets/fonts/november-pro/NovemberPro-Reg.eot");
  src: url("../assets/fonts/november-pro/NovemberPro-Reg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/november-pro/NovemberPro-Reg.svg#NovemberPro-Reg") format("svg"), url("../assets/fonts/november-pro/NovemberPro-Reg.ttf") format("truetype"), url("../assets/fonts/november-pro/NovemberPro-Reg.woff") format("woff"), url("../assets/fonts/november-pro/NovemberPro-Reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("../assets/fonts/circular-std/Graphik-Regular.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url("../assets/fonts/circular-std/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

button, p {
  font-family: "NovemberPro-Reg" !important;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "NovemberPro";
}

body {
  font-family: "NovemberPro" !important;
}

.H1DesktopGreen {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #008067;
}

.H1DesktopBlack {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #000000;
}

.H1DesktopWhite {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #f6f6f6;
}

.H2Desktop {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
}

.H2DesktopGreen {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #008067;
}

.H2DesktopWhite {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #ffffff;
}

.H3Desktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
}

.H3BlackDesktop {
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
}

.sliderHeading {
  font-family: "NovemberPro";
  font-size: 40px;
}

@media (max-width: 1400px) {
  .sliderHeading {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .sliderHeading {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .sliderHeading {
    font-size: 15px;
  }
}

.slidersubHeading {
  font-family: "NovemberPro";
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;
}

@media (max-width: 1400px) {
  .slidersubHeading {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .slidersubHeading {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .slidersubHeading {
    font-size: 20px;
  }
}

.sliderDescription {
  font-family: Graphik;
  font-size: 22px;
  margin: 30px 0 0 0;
  font-weight: normal;
}

@media (max-width: 1400px) {
  .sliderDescription {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .sliderDescription {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .sliderDescription {
    font-size: 10px;
  }
}

.menuList {
  font-size: 16px;
}

@media (max-width: 1400px) {
  .menuList {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .menuList {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .menuList {
    font-size: 10px;
  }
}

.largeHeading {
  font-family: "NovemberPro";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

@media (max-width: 1400px) {
  .largeHeading {
    font-size: 2.3rem;
  }
}

@media (max-width: 992px) {
  .largeHeading {
    font-size: 2.3rem;
  }
}

@media (max-width: 576px) {
  .largeHeading {
    font-size: 2rem;
  }
}

.mainHeading {
  font-family: "NovemberPro";
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

@media (max-width: 1400px) {
  .mainHeading {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .mainHeading {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .mainHeading {
    font-size: 12px;
  }
}

.subHeading {
  font-family: "NovemberPro";
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  color: #000000;
}

@media (max-width: 1400px) {
  .subHeading {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .subHeading {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .subHeading {
    font-size: 10px;
  }
}

.boxsubHeading {
  font-size: 24px;
}

@media (max-width: 1400px) {
  .boxsubHeading {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .boxsubHeading {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .boxsubHeading {
    font-size: 10px;
  }
}

.boxminiHeading {
  font-size: 18px;
}

@media (max-width: 1400px) {
  .boxminiHeading {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .boxminiHeading {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .boxminiHeading {
    font-size: 8px;
  }
}

.txtDescription {
  font-family: "NovemberPro-Reg";
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  padding: 0px 0px 30px 0px;
}

@media (max-width: 1400px) {
  .txtDescription {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .txtDescription {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .txtDescription {
    font-size: 10px;
  }
}

.miniDescription {
  font-family: "NovemberPro-Reg";
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  padding: 0px 0px 30px 0px;
}

@media (max-width: 1400px) {
  .miniDescription {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .miniDescription {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .miniDescription {
    font-size: 10px;
  }
}

.boxHeading {
  font-weight: 500;
  line-height: 1.2;
  font-size: 23px;
  color: #000000;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 1400px) {
  .boxHeading {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .boxHeading {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .boxHeading {
    font-size: 10px;
  }
}

.miniHeading {
  font-family: "NovemberPro";
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1400px) {
  .miniHeading {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .miniHeading {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .miniHeading {
    font-size: 8px;
  }
}

.btnbase {
  border: none;
  padding: 8px 18px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #000000;
}

.btnhover {
  background: #ffffff !important;
  color: #000000 !important;
  border: 1px solid !important;
}

.btnfocus {
  background: #ffffff !important;
  color: #000000 !important;
  border: 1px solid !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnactivefocus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.H1heading {
  font-size: 70px;
  color: #ffffff;
  font-weight: bold;
  padding: 0px 0px 15px 0px;
}

@media (max-width: 1400px) {
  .H1heading {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .H1heading {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .H1heading {
    font-size: 20px;
  }
}

.ptxtMediumBlack {
  font-size: 18px;
  letter-spacing: 0.22px;
}

@media (max-width: 1400px) {
  .ptxtMediumBlack {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .ptxtMediumBlack {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .ptxtMediumBlack {
    font-size: 10px;
  }
}

.ptxtMediumWhite {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.22px;
}

@media (max-width: 1400px) {
  .ptxtMediumWhite {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .ptxtMediumWhite {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .ptxtMediumWhite {
    font-size: 10px;
  }
}

.bannerList {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.H3WhiteDesktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #ffffff;
}

.H5DesktopGreen {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #008067;
}

.H5DesktopGrey {
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #748494;
}

.H5DesktopBlack {
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.H4DesktopWhite {
  font-family: Boxout02;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.H4DesktopBlack {
  font-family: Boxout02;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  color: #000000;
}

.H6Desktop {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.H6DesktopGrey {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #748494;
}

.H6DesktopBlack {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.H6DesktopGreen {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #008067;
}

.H6DesktopWhite {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyLargeWhite {
  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyDefault {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.BodyDefaultBold {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.BodyDefaultBoldGrey {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #748494;
}

.BodyDefaultBoldWhite {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyDefaultBoldBlack {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.BodyDefaultRegularGrey {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #748494;
}

.BodyDefaultRegularBlack {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.BodySmallMediumGrey {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #748494;
}

.BodySmallMediumWhite {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.BodySmallMediumBlack {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #000000;
}

.BodySmallMedium {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.CTA {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
}

.CTABlue {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #3035ff;
}

.CTAGrey {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #737373;
}

.CTAGreen {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #008067;
}

.CTABlack {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
}

.CTARed {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ff542d;
}

.CTAWhite {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.CTAYellow {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffcd00;
}

.BodySmallRegular {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.BodySmallRegularWhite {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.BodySmallRegularGrey {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #737373;
}

.BodySmallRegularGreen {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #008067;
}

.BodySmallRegularBlack {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #000000;
}

.LabelGrey {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #737373;
}

.LabelWhite {
  font-family: "NovemberPro-Reg";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.EyebrowBlack {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #000000;
  text-transform: uppercase;
}

.EyebrowWhite {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #ffffff;
  text-transform: uppercase;
}

.EyebrowGreen {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #008067;
  text-transform: uppercase;
}

.EyebrowGrey {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #737373;
  text-transform: uppercase;
}

.text-description {
  color: #333 !important;
  font-family: 'November-pro';
}

p {
  font-family: 'November-pro';
}

.blue-column {
  color: #000000;
}

.technology__verticals {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(240px, 2fr))[2];
      grid-template-columns: repeat(2, minmax(240px, 2fr));
  grid-gap: 1rem;
}

.technology__verticals .blue-column {
  color: #000000;
}

.technology__verticals-mobile {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(240px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 0rem;
  border: 1px solid #ebebeb;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.technology__verticals-mobile__iconcontainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(90px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(90px, 2fr));
  grid-gap: 0.5rem;
}

.technology__verticals-mobile__iconcontainer a {
  text-decoration: none;
}

.technology__verticals-mobile__iconcontainer h3 {
  font-size: 15px;
  font-weight: normal;
  color: #000000;
  font-family: "NovemberPro-Reg" !important;
}

.technology__verticals-mobile__iconcontainer-iconsingle {
  margin-bottom: 30px;
  text-align: center;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon {
  background-image: url("../assets/img/technologies-sprite-icon.png");
  background-repeat: no-repeat;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.icon70 {
  width: 70px;
  height: 70px;
  display: block;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.ios {
  background-position: 2px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.android {
  background-position: -97px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.react-native {
  background-position: -196px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.xamrin {
  background-position: -295px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.react-native {
  background-position: -196px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.angular {
  background-position: -394px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.react {
  background-position: -493px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.html-5 {
  background-position: -691px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.type-script {
  background-position: -890px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.java-script {
  background-position: -790px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.node-js {
  background-position: -988px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.laravel {
  background-position: -1087px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.python {
  background-position: -1186px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.dot-net {
  background-position: -1284px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.java {
  background-position: -1384px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.php {
  background-position: -1484px 1px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.mongo-db {
  background-position: 2px -97px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.redis {
  background-position: -97px -97px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.postgre-sql {
  background-position: -196px -97px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon.my-sql {
  background-position: -295px -97px;
  margin: 0 auto;
}

.technology__verticals-mobile__iconcontainer-iconsingle .applicable-technology-sprite-icon .elasticsearch {
  background-position: -393px -97px;
  margin: 0 auto;
}
/*# sourceMappingURL=technology.css.map */