// $headerHeight: 80px;
// $footerHeight: 0;

// $primaryColor: #2f4ccc;
// $primaryColor: #22186c;
// $secondryColor: #fa4612;

$primaryColor: #000000; //#181836
$primary__light-Color: #e8ecff;
$secondryColor: #000000; //ec0000
$primarylightColor: #10064e;
$color__fill-soft-cream: #c9ccd1;
$color__fill-full-grey: #1a1a1c;
$grey__input-border: #323643;
$grey__input-color: #8d91a2;
$bg__soft-white: #f8f9fd;
$cream__input-border: #dbd3d3;
$bg__casestudy-grey: #ececec;

$primary__box-shadow: #2a437126;
$primary__light-shadow: #6e7b831a;
$primary__blue-shadow: #0072e91a;
$primary__list-shadow: #00000033;
$fixed__header-shadow: #6e7b831a;

$modal__light-grey: #9ea4a9;
$color__fill-black: #000000;

$service__box-green: #dafdf2;
$service__box-purple: #dbdafd;
$service__box-pink: #fddaf4;
$service__box-yellow: #fdf1da;
$service__box-blue: #daf8fd;
$service__box-pitch: #fddae4;
$service__box-grey: #ede6e8;

// $color__fill-black: #1a282c;
$color__fill-white: #ffffff;
$color__fill-white-alpha-0-2: rgba($color__fill-white, 0.2);
$color__fill-beige: #e2e1cd;
$color__fill-pink: #ffa3d1;
$color__fill-brown: #db7b1c;
$color__fill-light-blue: #98dde7;
$color__fill-medium-blue: #0076c2;
$color__fill-blue: #3035ff;
$color__fill-blue-alt: #008291;
$color__fill-light-grey: #f6f6f6;
$color__fill-light-gris: #e6e9d7;
$color__fill-red: #ff542d;
$color__fill-green: #008067;
$color__fill-grey: #748494;
$color__fill-grey2: #696969;
$color__fill-yellow: #ffcd00;
$color__ui-field-background: rgba(26, 40, 44, 0.03);
$color__fill-dark-grey: #737373;
$color__fill-soft-black: #364e55;
$color__faint-grey: #f0f2f2;
$color__wild-sand-grey: #e4e2df;

// lists
$banner__list-grey: #e4e4e4;
$color__fill-description: #333;
$color__fill-light-cream: #ccc;
$color__fill-box: #ebebeb;

// media variables
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$sm: 576px;
$md: 767px;